.aboutUs {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  font-size: 26px;
  color: rgb(63, 85, 158);
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 13px;

  transition: 0.4s;
}
.aboutUs:hover {
  background-color: rgb(82, 100, 211);
  color: white;
}
.aboutUsText {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 20px;
  color: rgb(4, 24, 90);
}

body {
  background: url(/githubpush/htmlcsssite/img/bodybackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
#campaigns {
  margin: 0 auto;

  text-align: center;

  font-family: "Roboto", sans-serif;
  font-family: "Staatliches", cursive;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgb(63, 55, 53);
  transition: 0.4s;
}
#campaigns:hover {
  color: rgb(165, 250, 221);
}
.iPhoneCampaign {
  width: 33%;
  height: 250px;

  transition: border 0.4s;
}
.iPhoneCampaign:hover {
  border-style: solid;
  border-color: rgb(147, 104, 247);
}
.iPhoneCampaignText {
  display: inline-block;
  width: 33%;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: rgb(4, 24, 90);
}


form{
  text-align: center;
}
label{
  
  width: 33%;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: rgb(4, 24, 90);
}
.licenseAgreement{
 
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: rgb(4, 24, 90);
}
#submit{
text-align: center;
  font-family: "Roboto", sans-serif;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  font-size: 26px;
  color: rgb(63, 85, 158);
 

  transition: 0.4s;
}
#submit:hover{
  background-color: rgb(82, 100, 211);
  color: white;
}

.navbar {
  display: inline-block;
  /*background-color: #f7e3c4;*/

  width: 100%;
  background: url(/githubpush/htmlcsssite/img/navbardeneme1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-style: outset;
}

.products {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  font-size: 26px;
  color: rgb(63, 85, 158);
  margin: 0px 30px 0px 0px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 13px;
  transition: 0.4s;
}
.products:hover {
  background-color: rgb(82, 100, 211);
  color: white;
}

.productPhotos{
  display:block;
  margin:auto;
  width: 35%;

}
.productTexts{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 22px;
  color: rgb(4, 24, 90);
}

.laptopcampaign {
  width: 33%;
  display: inline-block;
  height: 250px;
  transition: border 0.4s;
}
a{
  text-decoration: none;
}

.laptopCampaignText {
  display: inline-block;
  width: 33%;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: rgb(4, 24, 90);
}
.laptopcampaign:hover {
  border-style: solid;
  border-color: rgb(147, 104, 247);
}

.lgcampaign {
  display: inline-block;
  width: 33%;
  height: 250px;
  transition: border 0.4s;
}
.lgcampaign:hover {
  border-style: solid;
  border-color: rgb(147, 104, 247);
}
.lgcampaignText {
  display: inline-block;
  width: 33%;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Staatliches", cursive;
  font-size: 17px;
  color: rgb(4, 24, 90);
}

.sitelogo {
  margin-left: 5px;
  float: left;
  width: 13%;
  text-align: center;

  margin-right: 300px;
}
.support {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-family: "Staatliches", cursive;
  text-decoration: none;
  font-size: 26px;
  color: rgb(63, 85, 158);

  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 13px;
  transition: 0.4s;
}

.support:hover {
  background-color: rgb(82, 100, 211);
  color: white;
}
